{% extends "base.html" %}
{% block top %} 
<div class="row">
  <div class="col-6 d-flex justify-content-center flex-column">
    <a class="navbar-brand" id="brand-name" href="#">
      <h3 class="display-5">LIBRARYISH</h3>
    </a>
  </div>
  <div class="col-6"> <img src="/static/./SVG/illustration-15.svg" alt="Welcome" style="height:75px;"></div>
  <hr class="mt-0">
</div>
{% endblock %} 
{% block main %} 
<div class="row">
  <div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <a href="{{ url_for('shelf') }}" class="navbar-brand"> <i class="fas fa-arrow-left"></i> Shelf</a>
    <div class="navbar-nav d-flex flex-row fs-2">
      <!-- <a class="nav-link" href="#"><i class="fa-solid fa-gauge-simple mx-3"></i></a> -->
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="speedMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gauge-simple fs-3"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">.75x</a></li>
          <li><a class="dropdown-item" href="#">1x</a></li>
          <li><a class="dropdown-item" href="#">1.25x</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="speedMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="far fa-moon fs-3"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">15mins</a></li>
          <li><a class="dropdown-item" href="#">30mins</a></li>
          <li><a class="dropdown-item" href="#">1hr</a></li>
        </ul>
      </div>
      <a class="nav-link p-0" href="#"><i class="far fa-bookmark mx-3"></i> </a>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8 ratio ratio-4x3" style="max-width: 400px">
    <iframe src="https://www.youtube.com/embed/K--IX7cOWRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="row mt-5">
  <div class="col-9  d-flex justify-content-around">
    <span class="d-flex align-content-center px-1"><i class="fa-solid fa-backward fs-1"></i>15s</span> <span><i class="fa-solid fa-play fs-1"></i></span> <span class="d-flex align-content-center"> 15s<i class="fa-solid fa-forward fs-1 px-1"></i></span>
  </div>
  <div class="col-3">
    <h5>30%</h5>
  </div>
</div>
<hr>
<h5>Bookmarks:</h5>
<div class="alert alert-info alert-dismissible fade show my-1" role="alert">
  <strong><i class="far fa-bookmark mx-3"></i></strong> Title of the bookmark <span class="fst-italic">1h25m13s</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-info alert-dismissible fade show my-1" role="alert">
  <strong><i class="far fa-bookmark mx-3"></i></strong> Title of the bookmark <span class="fst-italic">1h25m13s</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-info alert-dismissible fade show my-1" role="alert">
  <strong><i class="far fa-bookmark mx-3"></i></strong> Title of the bookmark <span class="fst-italic">1h25m13s</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}