{% extends "base.html" %}
{% block top %} 
<div class="row">
  <div class="col-6 d-flex justify-content-center flex-column">
    <a class="navbar-brand" id="brand-name" href="#">
      <h3 class="display-5">LIBRARYISH</h3>
    </a>
    <h4 class="mb-0" style="color:#fb5d64;">Shelf:</h4>
  </div>
  <div class="col-6"> <img src="/static/./SVG/illustration-1.svg" alt="Welcome" style="height:75px;"></div>
  <hr class="mt-0">
</div>
{% endblock %} 
{% block main %} 
<!-- <span x-on:click=" window.history.back()"><i class="fas fa-arrow-left"></i> Go Back</span> -->

<!-- AlpiineJS again, this [for]  display all the books that are on our shelf and ads the delete button that take out the data from our shelf, our shelf is 
synced with the localstorage from the base.html Alpinejs code -->
<template x-for="book in myBooks">
  <div>
    <div class="row">
      <div class="col-12">
        <h5 class="mb-0" x-text="book.snippet.title"></h5>
      </div>
      <div class="col-5">
        <img x-bind:src="book.snippet.thumbnail" alt="" class="img-fluid w-100">
        <span class="badge badge-secondary bg-secondary w-100 p-2" x-text="book.snippet.hours + ' hours'"></span>
      </div>
      <div class="col-7">
        <ul class="list-group">
          <li class="list-group-item"><a x-bind:href="'/player/'+book.id " class="link-dark">Open AudioBook</a></li>
          <li class="list-group-item" x-text="book.libraryish.bookmarks.length + ' Bookmarks'"></li>
          <li class="list-group-item" x-text="book.libraryish.percent + '% Read'"></li>
          <li class="list-group-item bg-danger text-light" x-on:click="myBooks = myBooks.filter( b => b.id !== book.id)">Delete</li>

        </ul>
      </div>
    </div>
    <hr />
  </div>
</template>

{% endblock %}